.textoEnriquecido{
    font-weight: 450;
    @extend %tipografia;
    }
       
   .imagenLarga{
    width: 100%;
    height: 350px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: auto;
    object-fit: cover;
   }

   .container div{
       display: flex;
       justify-content:center ;
   }
   .infoHome{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 6px;
    .macetas_a{
        @extend %grid-center2;
     
    }
    .flores_b{
        @extend %grid-center2;
     
    }
    .jardin_c{
        @extend %grid-center2;
     
    }
    .imagen_pequeña{
        width: 240px;
        height: 260px;
    }
   }
