.mainContent{
    @extend %grid-center;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    row-gap: 10px;
    background: rgb(145,148,162);
    background: linear-gradient(0deg, rgba(145,148,162,1) 0%, rgba(233,137,10,1) 49%, rgba(129,224,0,1) 100%);

    .reco_temporadas{
        height: 250px;
        width: 500px;
        }
        .reco{
            width: 100%;
            background-position:center; 
        }
    .recomendaciones{
        @extend %grid-center;
       @extend %tipografia;
        }
    .reco_div{
        @extend %posiciones;
        background-image: url("../imagenes/primavera_imagen2.png");
        @extend %posiciones2;
        }
    .reco_div2{
        @extend %posiciones;
        background-image: url("../imagenes/arenas_playa.jpg");
        @extend %posiciones2;
        }
        .reco_div3{
            @extend %posiciones;
            background-image: url("../imagenes/otoño.jpg");
            @extend %posiciones2;
        }
        .reco_div4{
           @extend %posiciones;
            background-image: url("../imagenes/imagen_invierno.jpg");
            @extend %posiciones2;
        }
}    