.mainTienda div{
    @include position( column, center, center);
    .tienda_tienda{
        display: flex;
        justify-content: center;
        width: 300px;
        height: 300px;
        padding: 15px;      
        .tituloSupe{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            }
    }
}
.mainTienda{
        display: grid;
        grid-template-columns:repeat(5, 1fr);
}
.mainTienda > *{
    background-color: rgb(201, 184, 184);
}
main li{
    list-style: none;
    text-decoration: none;
    color: black ;
    @include position( column, center, center);
    font-size: 21px;
    font-weight: 450;
    font-style: initial;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 26px;
  }
  .pagination{
    display: flex;
    justify-content: center;
}